<!DOCTYPE html>
<html lang="en">
  <head>
    <title>simulation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="priority-queue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div>
      <button id="Node" class="btn" (click)="addnode()">+Node</button>
      <button id="delete" (click)="delete(selected)" class="btn">
        <i class="fa fa-trash"></i> remove
      </button>
      <input
        #gainBox
        type="text"
        placeholder="gain"
        [disabled]="!selectingAlink"
        (keyup.enter)="editGain($event)"
      />
      <input
        #nameBox
        type="text"
        id="product"
        placeholder="node name"
        [disabled]="!selectingAnode"
        (keyup.enter)="editName($event)"
      />
      <div>
        <svg
          #canvas
          class="canvas"
          [attr.width]="evaluateCanvasWidth()"
          [attr.height]="evaluateCanvasHeight()"
          (mousedown)="resetSelection($event)"
        >
          <path
            class="line"
            *ngFor="let link of links"
            (click)="select(link)"
            (mouseup)="mouseUp(link)"
            [attr.d]="evaluate_curve(link)"
            stroke="black"
            fill="transparent"
          />
          <polygon
            *ngFor="let link of links"
            stroke="black"
            fill="grey"
            [attr.points]="evaluate_arrow(link)"
          />
          <circle
            class="m"
            *ngFor="let m of nodes"
            [attr.fill]="'blue'"
            [attr.cx]="evaluate_x(m)"
            [attr.cy]="axis_height"
            r="20"
            (mousedown)="select(m)"
            (mouseup)="mouseUp(m)"
            (mouseout)="mouseOut(m, $event)"
          ></circle>
          <text
            class="nodeText"
            *ngFor="let node of nodes"
            [attr.x]="evaluate_x(node) - node.name.toString().length * 4"
            [attr.y]="axis_height + 4"
            fill="black"
            font-size="12"
            (mousedown)="select(node)"
            (click)="select(node)"
            (mouseup)="mouseUp(node)"
          >
            {{ node.name }}
          </text>
          <text
            class="gainText"
            *ngFor="let link of links"
            [attr.x]="
              (evaluate_x(link.from) + evaluate_x(link.to)) / 2 -
              link.gain.toString().length * 4
            "
            [attr.y]="evaluate_curve_midPoint_y(link) - ArrowHeight + 6"
            fill="black"
            font-size="12"
            (mousedown)="select(link)"
            (mouseup)="mouseUp(link)"
          >
            {{ link.gain }}
          </text>
        </svg>
      </div>
      <div class="res">
        Output Shall be here <br>
        ... <br> 
        ... <br> 
        ... <br>
      </div>
    </div>
  </body>
</html>
